 required = {
    'pandas': 'pandas',
    'numpy': 'numpy',
    'meteostat': 'meteostat',
    'matplotlib': 'matplotlib',
    'seaborn': 'seaborn',
    'scipy': 'scipy',
    'tqdm': 'tqdm',
    'pathlib': 'pathlib'
}